<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Cruise Test"> 
    <classes> 
  		<class name="com.cognizant.tests.testScenario1.TC11_CheckAutoSuggestion"/>
  		<class name="com.cognizant.tests.testScenario1.TC12_VerifyHolidayHomesViaMoreTab"/>
  		<class name="com.cognizant.tests.testScenario1.TC13_SearchBarHolidayHomes"/>
  		<class name="com.cognizant.tests.testScenario1.TC14_VerifyWithDifferentLocationName"/>
  
  		<class name="com.cognizant.tests.testScenario2.TC21_FetchHolidaysWithDates"/>
  		<class name="com.cognizant.tests.testScenario2.TC22_FetchHolidayHomesWithoutDates"/>
  		
  		<class name="com.cognizant.tests.testScenario3.TC31_CheckGuestButton"/>
  		<class name="com.cognizant.tests.testScenario3.TC32_GuestCountVerification"/>
  		
  		<class name="com.cognizant.tests.testScenario4.TC41_SortByFilter"/>
  		<class name="com.cognizant.tests.testScenario4.TC42_AmenitiesBasedFilter"/>
		<class name="com.cognizant.tests.testScenario4.TC43_SuitabilityBasedFilter"/>
		<class name="com.cognizant.tests.testScenario4.TC44_ClearFilters"/>
		
		<class name="com.cognizant.tests.testScenario5.TC51_FetchHolidaysHomesAllFilters"/>
		
		<class name="com.cognizant.tests.testScenario6.TC61_CruiseButtonChecking"/>
		<class name="com.cognizant.tests.testScenario6.TC62_CruiseDropdownChecking"/>
		<class name="com.cognizant.tests.testScenario6.TC63_CheckSearchButton"/>
		<class name="com.cognizant.tests.testScenario6.TC64_FetchCruiseDetails"/>
      
    </classes> 
   
  </test> 
   
</suite> 